<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .errors {
            color: red;
        }
    </style>
</head>
<body>

<!-- Book edition -->
<form id="edit-form" action="edit.html" th:method="post" th:action="@{/edit(id=${book.id})}" th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" value="Book_Title" th:value="*{title}"/>
        <div class="errors" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Wrong book title error</div>
    </div>

    <div class="row">
        <label for="author-select">Author:</label>
        <select id="author-select" name="authorId">
            <option th:each="author : ${allAuthors}" th:value="${author.id}" th:text="${author.fullName}"
                    th:selected="*{authorId} == ${author.id}">Book_Author
            </option>
        </select>
    </div>

    <div class="row">
        <label for="genres-ids-select">Genres:</label>
        <select id="genres-ids-select" name="genresIds" multiple required>
            <option th:each="genre : ${allGenres}" th:value="${genre.id}" th:text="${genre.name}"
                    th:selected="${#lists.contains(book.genresIds, genre.id)}">Book_Genre
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>
