<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>Books:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genres</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">Book_Title</td>
        <td th:text="${book.author.fullName}">Book_Author</td>
        <td>
            <div th:each="genre : ${book.genres}" th:text="${genre.name}">Book_Genre</div>
        </td>
        <td>
            <a th:href="@{/edit/__${book.id}__}" href="edit.html">Edit</a>
            <form id="delete-form" th:method="post" th:action="@{/delete(id=${book.id})}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>
<div>
    <div><a th:href="@{/add}" href="add.html">Add Book</a></div>
</div>
</body>
</html>
